# Fragment specific to C++ source files
If:
    PathMatch: [.*\.cpp, .*\.cxx, .*\.cc, .*\.h, .*\.hpp, .*\.hxx]
CompileFlags:
    Add:
        - "-std=c++11"
---
# Fragment specific to C source files
If:
    PathMatch: [.*\.c]
CompileFlags:
    Add:
        - "-std=c99"